body {
    background-color: ghostwhite;
}

h2 {
    color: rgb(47, 78, 255);
}

.card-side {
    width: 40rem;
}

a {
    text-decoration: none;
}

.col-md-7 {
    background-color: #ffffff;
    border: 1px solid rgb(232, 232, 233);
    float: right;
}

.article-by {
    text-align: right;
}

.h2-title {
    size: 21px;
}